html, body {
  max-width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  max-height: 100%;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.app {
  background-color: #eaeaea;
  padding-bottom: 100%;
}

.header {
  background-color: #33363b;
  color: white;
  border: none;
}
.header-banner {
  background-color: #368cbf;
  float: left;
  border: none;
  margin: 0;
}
.blue-bar {
  display: flex;
  flex-direction: row;
  z-index: 0;
  box-sizing: border-box;
}

.footer {
  position: fixed;
  width: 100%;
  background-color: #33363b;
  text-align: center;
  color:white;
  padding: 2%;
  left: 0;
  bottom: 0;
}

@media only screen and (min-width: 1200px) {
  .header {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2%;
    padding-bottom: 1px;
    font-size: 20px;
    width: 100%;
  }

  .header-banner {
    padding: 26px;
    font-size: 18px;
    width: 80%;
    margin-right: 10%;
    z-index: 0;
    position: absolute;
    margin: 0;
    box-sizing: border-box;
  }

  .slider-wrapper {
    display: flex;
    flex-direction: row;
    padding-left: 10%
  }


}