.dice-history {
    border-color: #ccc;
    background-color: white;
    border-style: solid;
    border-width: 2px;
    height: 250px;
    overflow: auto;
}

.history-title {
    text-align: center
}

.history-text {
    margin-left: 10px;
    text-align: center
}


@media only screen and (min-width: 1200px) {
    .dice-history {
        border-color: #ccc;
        background-color: white;
        border-style: solid;
        border-width: 2px;
        height: 500px;
        width: 500px;
        margin-left: 45%;
        margin-top: 5%;
        margin-bottom: 5%;
        position: fixed;
        overflow: auto;
    }

    .history-text {
        text-align: left
    }

}