button {
    background-color: #368cbf;
    display: inline-block; 
    border: none;
    position: relative;
    z-index: 1;
    margin: 0;
    color: white;
}

@media only screen and (min-width: 992px) {
    button {
        padding: 15px 20px;
        font-size: 18px;
        width: 140px;

    }
}